.circle-pitch {
  --border: calc(var(--circle-radius) / 60);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--pitch-diameter);
  height: var(--pitch-diameter);
  margin: calc(var(--pitch-radius) * -1) 0 0 calc(var(--pitch-radius) * -1);
  background: var(--color-base-light-grey-blue);
  border: var(--border) solid var(--color-shade-hint-grey);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-shade-hint-grey);
  transition: all .2s ease-in;
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
}

.circle-pitch--empty {
  color: transparent;
}

.circle-pitch--highlighted {
  background: var(--color-base-midnight-blue);
  border-color: var(--color-base-light-blue);
  color: var(--color-base-white);
}

.circle-pitch--octave {
  
}

.circle-pitch--active {
  border-color: var(--color-accent-yellow);
  box-shadow: 0 0 5px var(--color-base-black);
}

.circle-pitch:nth-child(1) {
  transform: rotate(calc(var(--pitch-angle) * 0)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -0));
}
.circle-pitch:nth-child(2) {
  transform: rotate(calc(var(--pitch-angle) * 1)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -1));
}
.circle-pitch:nth-child(3) {
  transform: rotate(calc(var(--pitch-angle) * 2)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -2));
}
.circle-pitch:nth-child(4) {
  transform: rotate(calc(var(--pitch-angle) * 3)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -3));
}
.circle-pitch:nth-child(5) {
  transform: rotate(calc(var(--pitch-angle) * 4)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -4));
}
.circle-pitch:nth-child(6) {
  transform: rotate(calc(var(--pitch-angle) * 5)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -5));
}
.circle-pitch:nth-child(7) {
  transform: rotate(calc(var(--pitch-angle) * 6)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -6));
}
.circle-pitch:nth-child(8) {
  transform: rotate(calc(var(--pitch-angle) * 7)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -7));
}
.circle-pitch:nth-child(9) {
  transform: rotate(calc(var(--pitch-angle) * 8)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -8));
}
.circle-pitch:nth-child(10) {
  transform: rotate(calc(var(--pitch-angle) * 9)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -9));
}
.circle-pitch:nth-child(11) {
  transform: rotate(calc(var(--pitch-angle) * 10)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -10));
}
.circle-pitch:nth-child(12) {
  transform: rotate(calc(var(--pitch-angle) * 11)) translateY(calc(var(--circle-radius) * -1 + var(--pitch-radius))) rotate(calc(var(--pitch-angle) * -11));
}
