@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --number-of-pitches: 12;
  --circle-diameter: 90vh;
  --circle-radius: calc(var(--circle-diameter) / 2);
  --pitch-diameter: calc(var(--circle-diameter) / var(--number-of-pitches) * 2);
  --pitch-angle: calc(360deg / var(--number-of-pitches));
  --pitch-radius: calc(var(--pitch-diameter) / 2);

  --color-base-dark-blue: #1046A8;
  --color-base-light-blue: #3194F7;
  --color-base-midnight-blue: #111F65;
  --color-base-grey: #333;
  --color-base-light-grey-blue: #F7F9FB;
  --color-base-grey-blue: #EEF3F7;
  --color-base-black: #000;
  --color-base-white: #fff;

  --color-shade-body-grey: #63676E;
  --color-shade-medium-grey: #9FA7B4;
  --color-shade-hint-grey: #B3BBC8;

  --color-accent-papaya: #FF7461;
  --color-accent-teal: #08B3AB;
  --color-accent-purple: #BA74D2;
  --color-accent-yellow: #F9BA37;
  --color-accent-red: #E84C3D;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-base-grey-blue);
  color: var(--color-base-grey);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.container {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
}
